HOST=localhost
PORT=3000
FRONTEND_URL=http://localhost:5173
DB_USERNAME=postgres
PASSWORD=tu_password
DATABASE=postgres
DB_PORT=5432
JWT_SECRET=tu_jwt_secret
COOKIE_KEY=tu_cookie_key

# para nodemailer
EMAIL_USER=email_de_la_app
EMAIL_PASS=password