HOST=localhost
PORT=3000
FRONTEND_URL=http://localhost:5173
DB_USERNAME=postgres
PASSWORD=tu_password
DATABASE=postgres
DB_PORT=5432
JWT_SECRET=tu_jwt_secret
COOKIE_KEY=tu_cookie_key
EMAIL_USER=correo_de_soporte
EMAIL_PASS=app_password_de_gmail
EMAIL_FROM=ArriendU <correo_de_soporte>
